<%= image_tag entry.images.url(:square) %>	

#5bc0de


		<br>
		<div class="col-lg-10 well well-sm text-right">
			<small><a class="text-info" href="http://adamoverstreet.com" target="_blank"><%= image_tag("me.png", size: "16x16", alt: "adam overstreet") %> http://adamoverstreet.com</a> | &copy; Copyright <span id="year"></span> - All Rights Reserved.</small>
		</div>	


<div class="col-lg-10 well well-sm text-right">
			<small>
				<!-- <i id="bubble_message_bg" class="icon-comment"></i><span id="bubble_message"></span> -->
				<a class="text-info" id="adam" href="http://adamoverstreet.com" target="_blank"><%= image_tag("me.png", size: "16x16", alt: "adam overstreet") %> http://adamoverstreet.com</a> | &copy; Copyright <span id="year"></span> - All Rights Reserved.
			</small>
		</div>	
		
		
	//bubble on hover
	var bubble_bg =  $('#bubble_message_bg');
	var bubble_message = $('span#bubble_message');
	
	//on load, hide bubble
	hide_bubble();

	//hide bubble + message
	function hide_bubble() {
		bubble_bg.hide();
		bubble_message.hide();
	};
	
	//show bubble + message
	function show_bubble() {
		bubble_bg.show();
		bubble_message.show();
	};

	//my photo	
	$('#adam').hover(function() {
		  show_bubble();
		  bubble_message.html('hi!');
		}, function() {
		   hide_bubble();
	});
	
	
	/*footer*/

/*the bubble*/
#bubble_message_bg {
position: absolute;
top: -65px; left: 90px;
font-size: 80px;
z-index: 999;
color: #000;

/* For IE 5-7 */
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
/* For IE 8 (and 9, 10, 11?). Don't miss the added quotes */
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";

/* This works in IE 8 & 9 too */
/* ... but also 5, 6, 7 */
filter: alpha(opacity=85);

/* Older than Firefox 0.9 */
-moz-opacity:0.85;

/* Safari 1.x (pre WebKit!) */
-khtml-opacity: 0.85;

/* Modern!
/* Firefox 0.9+, Safari 2?, Chrome any?
/* Opera 9+, IE 9+ */
opacity: 0.85;
}

/*the actual text | bubble*/
#bubble_message {
position: absolute;
top: -40px; left: 85px;
width: 85px;
height: 35px;
font-size: 24px;
color: #F90;
text-align: center;
z-index: 9999;
}
