<div class="row">
	<div class="col-lg-10">
		<p class = "text-primary text-right">
			<%= link_to "<button class='btn btn-default btn-lg btn-info'><i class='icon-home'></i> Home</button>".html_safe, root_path, class: "text-primary" %>
		</p>
	</div>
</div> <!-- closed .row --> 


<div class="row">
	<div class="col-lg-10">
		<h3><i class='icon-edit'></i> Edit your donation</h3>
	</div>
</div> <!-- closed .row --> 

<%= render :partial => 'form' %>
