<div class="row">
	<div class="col-lg-10">
	
		<h3>Welcome to Door-to-Door Donations!</h3>
		
		<h4><i class="icon-spinner icon-spin icon-smile"></i> 
		<!-- <span id="message"></span> --> Welcome
			<% if current_user.name? %>
				<%= current_user.name  %>!
			<% else %>
				<%=  current_user.email  %>!
			<% end %>
		</h4>
	</div>

		<div class="col-md-6">
  			<p>Let Door-to-Door Donations help you help your community by
		donating your unused belongings to charity!  We accept most automobiles, clothes, 
		furniture and electronics.</p>  
		
  </div>
</div> <!-- closed .row -->	

<% if user_signed_in? %>

<div class="row">
	<div class="col-lg-10">
		<%= link_to "<button class='btn btn-default btn-lg btn-warning'><i class='icon-user'></i> Profile</button>".html_safe, user_path(current_user.id), class: "text-warning" %>
		<%= link_to "<button class='btn btn-default btn-lg btn-primary'><i class='icon-gift '></i> Make a Donation</button>".html_safe, new_entry_path, class: "text-primary" %>
	</div>
</div> <!-- closed .row -->
				
		


<% end %>

